{:highlights [{:id #uuid "64950a90-38b6-4346-9cd8-e38aae050c06",
               :page 17,
               :position {:bounding {:x1 75.3125,
                                     :y1 493.2250061035156,
                                     :x2 517.8212890625,
                                     :y2 508.4250183105469,
                                     :width 639.9999999999999,
                                     :height 828.235294117647},
                          :rects ({:x1 75.3125,
                                   :y1 493.2250061035156,
                                   :x2 517.8212890625,
                                   :y2 508.4250183105469,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}),
                          :page 17},
               :content {:text "Orality, Sampling, Collective Memory, and Knowledge Sharing"},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
